In [1]:
"""Create a dictionary storing three countries and their capitals. Print the capital of India."""
d1={
    "India":"Delhi",
    "France":"Paris"
}
d1

{'India': 'Delhi', 'France': 'Paris'}

In [2]:
d1["India"]

'Delhi'

In [2]:
"""Given a dictionary of student marks, update the marks of a specific student."""
s={
    "Vrushali":98,
    "Gargi":99
}
s["Vrushali"]=99
s

{'Vrushali': 99, 'Gargi': 99}

In [3]:
"""Create a dictionary where keys are fruit names and values are their prices. Print the price of 'Mango'."""
fruit={"Mango":100,
       "Banana":50}
fruit["Mango"]

100

In [18]:
"""Write a program that counts the number of occurrences of each word in a sentence using a dictionary.""" 
sentence = "python is easy and python is powerful"

words = sentence.split() #convert into list
word_count = {}  #dictonary will store word â†’ number of times it appears 

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

print(word_count)

{'python': 2, 'is': 2, 'easy': 1, 'and': 1, 'powerful': 1}

In [7]:
""". Create a dictionary where keys are employee names and values are their salaries. Find the
highest-paid employee."""
d1={
    "vrushali":500000,
    "gargi":68000,
    "sakshi":67000
}
d1
highest_paid=max(d1,key=d1.get)
print("Highest paid employee :",highest_paid)

Highest paid employee : vrushali

In [15]:
"""Write a program to merge two dictionaries into one."""
d1.update(fruit)
d1

{'vrushali': 50000,
 'gargi': 68000,
 'sakshi': 67000,
 'Mango': 100,
 'Banana': 50}

In [8]:
"""Given a dictionary, check whether a given key exists in it or not."""
"vrushali" in d1

True

In [18]:
"""Write a program to remove a key-value pair from a dictionary."""
d1.pop("sakshi")

67000

In [9]:
d1

{'vrushali': 500000, 'gargi': 68000, 'sakshi': 67000}

In [11]:
"""Create a dictionary of five students with their names as keys and ages as values. Print the
student with the maximum age."""
student={"Vrushali":20,
         "Gargi":21,
         "Shifa":25,
         "Sakshi":19,
         "Shweta":24
        }
max_age=max(student,key=student.get)
print("Student with maximum age:",max_age)
print("Age:",student[max_age])

Student with maximum age: Shifa
Age: 25

In [16]:
"""Given a dictionary storing movie names and their ratings, sort it in descending order of ratings
and print the result"""
movies = {
    "Inception": 8.8,
    "Interstellar": 8.6,
    "Titanic": 7.8,
    "Avatar": 7.9
}
movies

{'Inception': 8.8, 'Interstellar': 8.6, 'Titanic': 7.8, 'Avatar': 7.9}

In [17]:
sorted_movies = dict(sorted(movies.items(), key=lambda x: x[1], reverse=True))
print(sorted_movies)

{'Inception': 8.8, 'Interstellar': 8.6, 'Avatar': 7.9, 'Titanic': 7.8}

In [13]:
#### Bonus Challenges

In [14]:
"""Use both tuples and dictionaries together:
 - Create a dictionary where keys are countries and values are tuples of (capital, population,
currency).
 - Print the capital of 'Japan' and the currency of 'France'."""
countries = {
    "India": ("New Delhi", "1.4 billion", "INR"),
    "Japan": ("Tokyo", "126 million", "Yen"),
    "France": ("Paris", "67 million", "Euro")
}
print("Capital of Japan:",countries["Japan"][0])
print("Currency of France:",countries["France"][2])

Capital of Japan: Tokyo
Currency of France: Euro

In [15]:
"""Complex Nested Dictionary & Tuple:
 - Store employee records where keys are employee names and values are tuples containing (age,
department, salary).
 - Find the average salary of all employees in a given department."""
employees={
    "vrushali":(20,"IT",50000),
    "Gargi":(21,"IT",51000),
    "sakshi":(22,"HR",25000)
}
total=0
count=0
for emp in employees.values():
    if emp[1] == "IT":
        total += emp[2]
        count += 1

print(total / count)

50500.0