In [1]:
#For Loop with Strings
"""Print each character of text one by one."""
text="Hello World! Python is Amazing"
for i in text:
    print(i,end=" ")

H e l l o   W o r l d !   P y t h o n   i s   A m a z i n g

In [3]:
"""Count the number of vowels in text."""
text="Hello World! Python is Amazing"
vowel="aeiouAEIOU"
count=0
for i in text:
    if i in vowel:
        count+=1
print(count)

8

In [4]:

text="Hello World! Python is Amazing"
vowel="aeiouAEIOU"
count=0
for i in text:
    if i in vowel:
        count+=1
    else:
        count+=0
print(count)

8

In [11]:
"""Extract only the uppercase letters from text."""
text="Hello World! Python is Amazing"
for i in text:
    if i.isupper():
      print(i)

H
W
P
A

In [2]:
"""Reverse text using a for loop."""
text="Hello World! Python is Amazing"
rev=""
for i in range(len(text)-1,-1,-1):
    rev+=text[i]
print(rev)

gnizamA si nohtyP !dlroW olleH

In [3]:
"""Print only email addresses that belong to "gmail.com" from emails."""
emails = ["john@gmail.com", "alice@yahoo.com", "bob@gmail.com",
"mark@outlook.com"]
for email in emails:
    if email.endswith("gmail.com"):
        print(email)

john@gmail.com
bob@gmail.com

In [8]:
""" Extract and print only tweets that contain the hashtag #Python from tweets."""
tweets = ["I love coding in Python! #Python", "JavaScript is great! #JS", "Python is powerful! #AI" , "Data Science is amazing! #Python"]
for tweet in tweets:
    if tweet.endswith("#Python"): #OR  if "#Python" in tweet:
        print(tweet)

I love coding in Python! #Python
Data Science is amazing! #Python

In [9]:
# For Loop with Lists
"""Print each employee's name with a serial number"""
employees = ["John", "Alice", "Bob", "Mike", "Sarah"]
for i in range(len(employees)):
    print(i + 1, employees[i])

1 John
2 Alice
3 Bob
4 Mike
5 Sarah

In [10]:
"""Count how many students scored above 75 from marks."""
marks = [45, 78, 82, 90, 67, 55, 89, 92, 74]
count=0
for i in marks:
    if i>75:
        count+=1
print(count)

5

In [12]:
"""Find the total sum of prices."""
prices = [120, 55, 300, 250, 75, 600]
s=0
for i in prices:
    s+=i
print(s)

1400

In [15]:
"""Count how many transactions are above $1000 from transactions"""
transactions = [500, 1200, 300, 4000, 750, 980, 2500]
count = len(list(filter(lambda t: t > 1000, transactions)))
print("Transactions above $1000:", count)

Transactions above $1000: 3

In [37]:
"""Calculate the percentage increase or decrease in stock_prices compared to the
previous day. """
stock_prices = [101, 105, 99, 110, 120, 98, 115]
for i in range(1, len(stock_prices)):
    prev = stock_prices[i - 1]
    cur = stock_prices[i]

    percentage_change = ((cur - prev) / prev) * 100 #calculate percentage change

    print(f"Day {i}: {percentage_change:.2f}%")  # -

Day 1: 3.96%
Day 2: -5.71%
Day 3: 11.11%
Day 4: 9.09%
Day 5: -18.33%
Day 6: 17.35%

In [2]:
#For Loop with Tuples

In [3]:
"""Print each price from product_prices."""
product_prices = (250, 400, 150, 1200, 800, 600)
for i in product_prices:
    print(i)

250
400
150
1200
800
600

In [5]:
""" Count how many products have a price above 500."""
product_prices = (250, 400, 150, 1200, 800, 600)
count=0
for i in product_prices:
    if i > 500:
        count+=1
print(count)

3

In [11]:
"""Print all grades in grades and check if any student scored above 90."""
grades = (80, 75, 90, 85, 88, 92)
print(grades)
for i in grades:
    if i > 90:
        print("Student scored above 90 is:",i)

(80, 75, 90, 85, 88, 92)
Student scored above 90 is: 92

In [16]:
"""Print only the weekend days from weekdays."""
weekdays = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday",
"Sunday")
for i in weekdays:
    if i == "Saturday" or i == "Sunday":
        print("Weekend Days are:", i)

Weekend Days are: Saturday
Weekend Days are: Sunday

In [17]:
#For Loop with Sets

In [20]:
"""Print each number from unique_numbers."""
unique_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
for i in unique_numbers:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
"""Count how many numbers in unique_numbers are even."""
unique_numbers = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
count=0
for i in unique_numbers:
    if i % 2 == 0:
        count+=1
print(count)

5

In [22]:
"""Find the sum of all items in product_stock."""
product_stock = {15, 25, 5, 50, 100, 8}
s=0
for i in product_stock:
    s+=i
print(s)

203

In [24]:
"""Print only stock values greater than 10 from product_stock."""
product_stock = {15, 25, 5, 50, 100, 8}
for i in product_stock:
    if i > 10:
        print(i)

50
100
25
15

In [25]:
#For Loop with Dictionaries

In [27]:
""" Print all employee names from employee_salaries."""
employee_salaries = {"John": 50000, "Alice": 75000, "Bob": 60000, "Mike": 90000}
for n in employee_salaries:
    print(n)

John
Alice
Bob
Mike

In [28]:
"""Increase each employee's salary in employee_salaries by 10% and print the
new salaries."""
employee_salaries = {"John": 50000, "Alice": 75000, "Bob": 60000, "Mike": 90000}
for employee in employee_salaries:
    employee_salaries[employee] *= 1.10

# Print new salaries
for employee, salary in employee_salaries.items():
    print(employee, ":", int(salary))

John : 55000
Alice : 82500
Bob : 66000
Mike : 99000

In [30]:
"""Count students who scored above 80 in student_scores."""
student_scores = {"Emma": 85, "Oliver": 78, "Sophia": 92, "Liam": 88}
count=0
for i in student_scores.values():
    if i > 80:
        count+=1
print(count)

3

In [33]:
"""Find and print the customers with negative balances from bank_accounts."""
bank_accounts = {"John": 1200, "Alice": -500, "Bob": 3000, "Mike": -200}
for cust , bal  in bank_accounts.items():
    if bal < 0:
        print(cust)

Alice
Mike

In [36]:
""" Print only the out-of-stock products from inventory."""
inventory = {"Laptop": 10, "Mouse": 25, "Keyboard": 30, "Monitor": 5, "Printer": 0}
for product , stock  in inventory.items():
    if stock == 0:
        print(product)

Printer