In [1]:
#Create a set with the elements {1, 2, 3, 4, 5} and print it.
set1={1,2,3,4,5}
set1

{1, 2, 3, 4, 5}

In [8]:
#Add an element 6 to the set {1, 2, 3, 4, 5}
set1.add(6)
set1

{1, 2, 3, 4, 5, 6}

In [9]:
#Remove the element 3 from the set {1, 2, 3, 4, 5}
set1.remove(3)
set1

{1, 2, 4, 5, 6}

In [10]:
#Check if 4 exists in the set {1, 2, 3, 4, 5}.
4 in set1

True

In [12]:
#Create a set from the list [1, 2, 2, 3, 4, 4, 5] and print it
list=[1,2,2,3,4,4,5]
set(list)

{1, 2, 3, 4, 5}

In [13]:
####Intermediate Level

In [14]:
#Find the union of sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [16]:
# Find the intersection of sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
set1 & set2

{2, 3}

In [17]:
#Find the difference between sets {1, 2, 3, 4} and {3, 4, 5, 6}
set1={1,2,3,4}
set2={3,4,5,6}
set1 - set2

{1, 2}

In [18]:
#Find the symmetric difference between sets {1, 2, 3} and {3, 4, 5}
set1={1,2,3}
set2={3,4,5}
set1 ^ set2

{1, 2, 4, 5}

In [19]:
#Check if {1, 2} is a subset of {1, 2, 3, 4}.
set1={1,2}
set2={1,2,3,4}
set1.issubset(set2)

True

In [20]:
#######  ADVANCE LEVEL

In [25]:
# Remove all duplicates from the string 'programming' using a set.
text="programming"
new=set(text)
res="".join(new)
res

'pramiogn'

In [26]:
#Find common elements between two lists using sets:
# list1 = [1, 2, 3, 4, 5]
 #list2 = [4, 5, 6, 7, 8] 
list1=[1,2,3,4,5]
list2=[4,5,6,7,8]
set(list1) & set(list2)

{4, 5}

In [28]:
#Find elements that are in list1 but not in list2 using sets.
set(list1) - set(list2)

{1, 2, 3}

In [30]:
#Check if two sets are disjoint (no common elements)
set1={1,2,3}
set2={4,5,6}
set1.isdisjoint(set2)

True

In [31]:
#Convert a tuple (1, 2, 3, 4) into a set.
tuple=(1,2,3,4)
set(tuple)

{1, 2, 3, 4}