In [1]:
"""Create a tuple containing the names of five cities and print the third city."""
cities=("Nagar","Pune","Nashik","Mumbai","Beed")
cities

('Nagar', 'Pune', 'Nashik', 'Mumbai', 'Beed')

In [5]:
cities[2]

'Nashik'

In [6]:
"""Store the dimensions of a rectangle (length and width) in a tuple. Calculate and print the area."""
rectangle=(10,5)
len,wid=rectangle
area=len*wid
area

50

In [15]:
"""Swap the values of two variables using a tuple."""
t1=(10,20)
a,b=t1
t1
a,b=b,a
a

20

In [16]:
b

10

In [1]:
"""Check if the number 100 exists in the tuple (10, 20, 30, 100, 50). Print True or False."""
t2=(10,20,30,100,50)
100 in t2

True

In [19]:
"""Given a tuple (5, 10, 15, 20, 25), write a program to reverse it."""
t3=(5,10,15,20,25)
t3

(5, 10, 15, 20, 25)

In [22]:
t3[::-1]

(25, 20, 15, 10, 5)

In [23]:
"""Create a tuple with duplicate elements and find how many times a specific number appears."""
t4=(2,4,5,6,5,5)
t4.count(5)

3

In [26]:
"""Given a tuple of numbers (1, 2, 3, 4, 5), write a program to convert it into a list."""
tup=(1,2,3,4,5)
tup

(1, 2, 3, 4, 5)

In [27]:
list(tup)

[1, 2, 3, 4, 5]

In [28]:
"""Create a tuple with the names of four programming languages and print them using a loop."""
t1=("c++","java","python","c")
for i in t1:
    print(i)

c++
java
python
c

In [29]:
"""Given a tuple ('apple', 'banana', 'cherry', 'date'), find the index of 'cherry'."""
t1=("apple","banana","cherry","date")
t1.index("cherry")

2

In [2]:
"""Create a nested tuple that contains employee details like (name, age, department) for three
employees"""
empdet=(("vrushali",20,"HR"),
        ("Gargi",21,"IT"),
        ("Sakshi",23,"Finance")
       )
empdet

(('vrushali', 20, 'HR'), ('Gargi', 21, 'IT'), ('Sakshi', 23, 'Finance'))